/* 列表页专有样式 */

.nav {
    overflow: hidden;
}

/* 秒杀图案 */
.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    padding-left: 14px;
    padding-top: 3px;
    border-left: 1px solid #c81623;
}

.sk_list ul li {
    float: left;

}

.sk_list ul li a {
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    display: block;
    line-height: 49px;
    padding: 0 20px;
    font-size: 14px;
}

.sk_con ul li:last-child a::after{
    content: '\e91e';
    font-family: 'icomoon';
}

.sk_bd ul li {
    float: left;
    width: 290px;
    height: 460px;
    margin-right: 13px;
    padding-top: 22px;
    border: 1px solid transparent;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd ul li:hover {
    border: 1px solid #e12228;
}

.sk_img {
    padding: 0 84px;
    margin-bottom: 24px;
}

.sk_bd ul li>a {
    display: block;
    margin: 0 12px;
    font-size: 12px;
}

.sk_price {
    margin: 0 12px;
    margin-top: 12px;
}

.sk_price span {
    color: #e9424b;
    font-size: 18px;
}

.sk_price i {
    color: #a4a4a4;
    font-size: 14px;
    text-decoration: line-through;
}

.sk_stock {
    margin: 0 12px;
    margin-top: 8px;
}

.sk_stock .progress {
    display: inline-block;
    position: relative;
    width: 132px;
    height: 12px;
    border: 1px solid #e12228;
    border-radius: 6px;
}

.sk_stock .progress div {
    position: absolute;
    width: 87%;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #ed282e;
}

.sk_stock span {
    color: #e9424b;
}

.sk_bd ul li button {
    margin-top: 12px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #b1191a;
}


